<!DOCTYPE html>
    <html>
        <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <link rel="stylesheet" href='/static/css/index.css'></link>
        </head>
        <body>
            <p id="header">
                min<span class="silver_text">sk</span><br>
                a minesweeper in <span class="silver_text">Flask</span>
            </p>
            <div id="board_and_list">
                <div id="board_container">
                    <div id="controls">
                        <button id="new_game_button">New game</button>
                        <div>
                            <label for="difficulty_select">Difficulty:</label>
                            <select id="difficulty_select">
                                <option>Easy</option>
                                <option selected>Normal</option>
                                <option>Hard</option>
                            </select>
                        </div>   
                    </div>
                    <div id="end_status"></div>
                    <table id="board"></table>
                </div>
                <div>
                    Currently played games (click to join):
                    <ul id="current_games_list"></ul>
                </div>
            </div>
        </body>
        <script src="/static/js/index.js" type="module"></script>
    </html>
