<!DOCTYPE HTML>
    <html>
        <head>
<!--
            <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
-->
            <style>
                body {
                    background: rgb(100, 100, 100);
                    //font-family: Oswald;
                }
                
                #logo {
                   // letter-spacing: 1px;
                }
                
                td {
                    border: 1px solid black;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                } 
                .grey {
                    //color: grey;
                    background: grey;
                }
                
                #board {
                    background: rgb(175, 175, 175);
                    font-size: 10px;
                }
                
                #board_container {
                    display: flex;
                    justify-content: center;
                }
            </style>
        </head>
        <body>
            <p id="logo">
                MIN<span class="grey">SK</span><br>
                minesweeper in <span class="grey">Flask</span>
            </p>
            <div id="board_container">
                <table id="board"></table>
            </div>
        </body>
        <script>
               
        class Model {
            constructor() {}
               
             async getBoard() {
                const url = 'http://127.0.0.1:8000/get_board'
                const response = await fetch(url)
                const json = await response.json()
                this.board = json
                return json
            }
            
            async revealCellArea(row, col) {
                const url = new URL('http://127.0.0.1:8000/reveal_cell_area')
                const params = new URLSearchParams({'row': row, 'col': col})
                url.search = params
                const response = await fetch(url)
                const json = await response.json()
                return json
            }
            
            async placeFlag(row, col) {
                const url = new URL('http://127.0.0.1:8000/place_flag')
                const params = new URLSearchParams({'row': row, 'col': col})
                url.search = params
                const response = await fetch(url)
                const json = await response.json()
                return json
            }
            
            async removeFlag(row, col) {
                const url = new URL('http://127.0.0.1:8000/remove_flag')
                const params = new URLSearchParams({'row': row, 'col': col})
                url.search = params
                const response = await fetch(url)
                const json = await response.json()
                return json
            }
        }
        
        class View {
            constructor() {
                this.board = document.getElementById('board')
            }
            
            drawBoard(board, cell_click_handler) {
                let n_rows = board.n_rows
                let n_cols = board.n_cols
                let cells = board.cells
                let rows = board.rows
                console.log('drawing board', board)
                
                this.board.innerHTML = ''
                
                rows.forEach(row => {
                    let tr = document.createElement('tr')
                    row.forEach(cell => {
                        let td = document.createElement('td')
                        td.textContent = cell.symbol
                        if (cell.hidden) {
                            td.classList.add('grey')
                            if (!cell.flagged) td.textContent = ''
                        }
                        td.id = cell.col
                        tr.appendChild(td)
                    })
                    this.board.appendChild(tr)
                })
            }
            
            bindBoardClick(handler) {
                this.board.addEventListener('click', e => {
                    let row = e.target.parentElement.rowIndex
                    let col = e.target.id
                    handler(row, col)
                })
            }
            
            bindBoardContextMenu(handler) {
                this.board.addEventListener('contextmenu', e => {
                    e.preventDefault()
                    let row = e.target.parentElement.rowIndex
                    let col = e.target.id
                    handler(row, col)
                })
            }
        }
        
        class Controller {
            constructor(model, view) {
                this.model = model
                this.view = view
                
                this.view.bindBoardClick(this.handleBoardClick)
                this.view.bindBoardContextMenu(this.handleContextMenu)
                this.refreshBoard()
            }
            
            handleBoardClick = (row, col) => {
                this.revealCellArea(row, col)
            }
            
            handleContextMenu = async (row, col) => {
                let board = await this.model.getBoard() // why not this.model.board.rows?
                let cell = board.rows[row][col]

                cell.flagged ? 
                    this.removeFlag(row, col) :
                    this.placeFlag(row, col)
            }
            
            async refreshBoard() {
                let board = await this.model.getBoard()
                this.view.drawBoard(board)
            }
            
            revealCellArea = async (row, col) => {
                let board = await this.model.revealCellArea(row, col)
                this.view.drawBoard(board)
            }
            
            async placeFlag(row, col) {
                let board = await this.model.placeFlag(row, col)
                this.view.drawBoard(board)
            }
            
            async removeFlag(row, col) {
                console.log('removing flag')
                let board = await this.model.removeFlag(row, col)
                this.view.drawBoard(board)
            }
        }
        
        let app = new Controller(new Model(), new View())
        
        
        </script>
    </html>
